<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ProcessFilterMaxContentLength" value="102400" />
		<add key="CancelRequestAfterMillisecondsTimeout" value="1000" />
		<add key="HttpServerPrefix" value="http://+:8080/" />
		<!--http://localhost:5080/-->
		<add key="ProcessTransformMaxContentLength" value="102400" />
		<add key="ProcessTransformImageMaxSize" value="1000;1000" />
		<add key="ProcessTransformImageFormat" value="32bppArgb" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
	</startup>
	<runtime>
		<gcServer enabled="true" />
	</runtime>
</configuration>