<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DI2.Properties.Settings.DI2ConnectionString" connectionString="Data Source=DESKTOP-PJN9CJF;Initial Catalog=DI2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>